.btn {
  border: none;
  font-family: sans-serif;
  border-radius: 7px;
  background-color: rgb(66, 110, 231);

  padding: 5px 13px;

  &:hover {
    cursor: pointer;
    background-color: rgb(82, 121, 226);
  }
}
